.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 20px;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
    color: #222;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #3b82f6;
}